<div class="parent">
  <!-- div1 -->
  <div class="div1"> 
    <table>
      <tr>
        <th>Name</th>
        <th>E-mail</th>
        <th>Update</th>
        <th>Delete</th>
      </tr>
      <tr *ngFor= "let d of insData">
        <td>{{d.name}}</td>
        <td>{{d.email}}</td>
        <td><button (click)="update(d._id)">Update</button></td>
        <td><button (click)="delete(d._id)">Delete</button></td>
      </tr>
    </table>
  </div>
  <!-- div2 -->
  <div class="div2"> 
    <h1>Crud App</h1>
    <p>Developed using MEAN stack</p>
  </div>
  <!-- div3 -->
  <div class="div3">
    <form [formGroup]="dataForm" (ngSubmit)='save()'>
    <label for="name">Name:</label>
    <input formControlName='name' type="text" placeholder="Name" required>
    <label for="email">Email:</label>
    <input formControlName='email' type="text" placeholder="Email" required>
    <button type='submit'>Submit</button>
    </form>
  </div>
</div> 